a {
  text-decoration: none;
  color: black;
  font-weight:bold;
}

h2 {
	font-weight:normal;
	font-size: 17px;
}

.vertical-align {
	vertical-align: middle;
}

.text-center {
	text-align: center;
}

div.gallery {
  margin: 3px;
  border: 1px solid #ccc;
  float: left;
  width: 48%;
}

div.gallery:hover {
  border: 1px solid #777;
  background: #7FDBFF;
}

div.gallery img {
  width: 100%;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.fixed-element {
  position: fixed;
  top:0;
  right:0;
}

.black-background {
  background-color: black;
}
