a {
 text-decoration: none;
 color: black;
 font-weight:bold;
}

h2 {
 font-weight:normal;
 font-size: 17px;
}

.vertical-align {
	vertical-align: middle;
}

.text-center {
	text-align: center;
}

div.gallery {
	margin: 3px;
	border: 1px solid #ccc;
	float: left;
	width: 48%;
}

@media (max-width: 600px) {
  div.gallery {
		margin: 3px;
		border: 1px solid #ccc;
		float: left;
		width: 95%;
	}
}

div.gallery img , div.gallery video{
  width: 100%;
  height: 300px;
  cursor: pointer;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.panel-head {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.panel-body {
	margin-top: 120px;
}

.gallery li {
	margin: 0 0 1% 0;
}

.text-left {
  text-align: left;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:active {
	transform: translateY(4px);
}

.button-blue {
	background-color: #008CBA;
}

.button-blue:hover {
	background-color: #00ACBA;
}

.logo {
	transition: transform .8s ease-in-out;
	cursor:pointer;
}

.logo:hover, .logo:active {
	transform: rotate(360deg);
}
